<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>w-siteFactory demo image zoomer</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../dist/styles/css/w-siteFactory.min.css">
    <script src="../dist/w-siteFactory-jq.min.js" type="text/javascript"></script>
</head>

<body>
    <script>
        jQuery(document).ready(function () {
            wsiteFactory.imageDetailFactory(850);
        });
    </script>
    <div class="page">
        <header>
            <img src="../img/Baniere_WSF_920_2.png" alt="">
        </header>
        <a href="../index.html" class="backAccueil">Retour à page d'accueil</a>
        <h2>Images Detail 1</h2>
        <div style="width:50%;margin:auto;">
            <img style="width:100px" class="sf-imgDetail" data-detail="../img/trees.jpg" src="../img/treesThumbnail.jpg" alt="">
        </div>
        <h2>Images Detail 2</h2>
        <div style="width:50%;margin:auto;">
            <img style="width:100px" class="sf-imgDetail" data-detail="../img/montagne02.jpg" src="../img/montagne02Thumbnail.jpg" alt="">
        </div>
    </div>
</body>

</html>